{% set navPages = collections.all | eleventyNavigation %}
<footer class="w-full py-4 px-4">
  <div class="max-w-md md:max-w-3xl mx-auto w-full">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
        <div class="grid grid-cols-2 mt-2 mb-1">
          {%- for entry in navPages  %}
            <a href="{{ entry.url | url }}"
               class="hover:underline hover:font-bold focus:font-bold focus:outline-none selectable">{{ entry.title }}</a>
          {% endfor %}
        </div>
      <div class="flex justify-center items-center">
        <p>Site Main Logo</p>
      </div>
      <div class="flex justify-center items-center">
        <p>External links</p>
      </div>
    </div>
    <div class="text-gray-800 w-full text-center mt-2">
      &#169; 2022 Rick Henry Development
    </div>
  </div>
</footer>
