---
layout: layouts/main.njk
---

<header class="w-screen bg-cover bg-center"
        style="background-image: url('{{ featured_image }}')"
        id="index-hero">
  <div class="bg-stone-800 bg-opacity-70 w-full h-96 md:h-[32rem] flex items-center justify-start text-left">
    <div class="max-w-3xl mx-auto md:mb-24 px-4">
      <h1 class="text-white font-bold text-3xl xs:text-6xl mb-2">
        {{ title }}
      </h1>
      <p class="text-beige-100 text-lg italic">{{ subtitle }}</p>
    </div>
  </div>
</header>
<main class="max-w-3xl mx-auto mt-4 space-y-4">
  <section class="markdown mx-auto px-4 bg-beige-300 shadow-lg py-4 leading-relaxed shadow-stone-300 border-stone-400 border-t border-b md:border-l md:border-r"
  >
    {{ content | safe }}
  </section>
</main>
