<!doctype html>
<html lang="en">
<head>
  {% include "components/head.njk" %}
</head>
<body class="bg-amber-50">
<a
  tabindex="0"
  href="#main-content"
  role="button"
  class="absolute opacity-100 top-0 left-0 ml-2 mt-2 -translate-y-14 transition duration-200 ease-out focus:translate-y-0 inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-black focus:ring-white z-50"
>
  Skip to Content
</a>
{% include "components/navbar.njk" %}
{{ content | safe }}
{% include "components/footer.njk" %}

</body>
</html>
