<section id="index-actions">
  <h2 id="index-actions-title" class="font-bold text-3xl mb-6 text-center md:text-left">I'd like to...</h2>
  <div class="grid w-52 mx-auto xs:w-[24rem] sm:w-auto grid-cols-1 xs:grid-cols-2 sm:grid-cols-4 gap-4">
    <a href="/ministry"
       class="w-full h-36 md:h-28 border-2 border-stone-700 flex items-center justify-center text-center px-6 font-bold text-2xl shadow-lg bg-beige-400 hover:shadow-amber-100 transition duration-200 ease-out hover:border-amber-700 hover:text-amber-700 mx-auto"
    >
      Read about the Ministry
    </a>
    <a href="/travel-team"
       class="w-full h-36 md:h-28 border-2 border-stone-700 flex items-center justify-center text-center px-6 font-bold text-2xl shadow-lg bg-beige-400 hover:shadow-amber-100 transition duration-200 ease-out hover:border-amber-700 hover:text-amber-700 mx-auto"
    >
      Travel to Bosnia
    </a>
    <a href="/home-team"
       class="w-full h-36 md:h-28 border-2 border-stone-700 flex items-center justify-center text-center px-6 font-bold text-2xl shadow-lg bg-beige-400 hover:shadow-amber-100 transition duration-200 ease-out hover:border-amber-700 hover:text-amber-700 mx-auto"
    >
      Help Out at Home
    </a>
    <a href="/donate"
       class="w-full h-36 md:h-28 border-2 border-stone-900 flex items-center justify-center text-center px-6 font-bold text-2xl shadow-lg bg-beige-400 hover:shadow-amber-100 transition duration-200 ease-out hover:border-amber-700 hover:text-amber-700 mx-auto"
    >
      Give Money
    </a>
  </div>
</section>
