---
title: About
description: Learn more about my website
layout: layouts/main.njk
eleventyNavigation:
  key: About
  order: 1
---


<div class="max-w-3xl mx-auto px-4">
  <h1 class="font-bold text-4xl">This is a website</h1>
  <p>That's all there is now since it's only a template.</p>
</div>
