---
title: Bosnia International Servant Trip
description: This is a website
layout: layouts/main.njk
eleventyNavigation:
  key: Home
  order: 0
  hideOnDesktop: true
---

<div class="max-w-3xl mx-auto px-4">
  <h1 class="font-bold text-4xl">This is a website</h1>
  <p>We will need to give it some content</p>
</div>
