---
# @formatter:off
title: Bosnia International Servant Trip
description: Website of the Bonsia International Servant Trip
layout: layouts/main.njk
eleventyNavigation:
  key: Home
  order: 0
  hideOnDesktop: true
# @formatter:on
---

<header class="w-screen bg-cover bg-center"
        style="background-image: url('/assets/img/bosnia_welcome_featured.jpg')"
        id="index-hero">
  <div class="bg-stone-800 bg-opacity-70 w-full h-96 md:h-[32rem]  flex items-center">
    <div class="max-w-3xl mx-auto md:mb-24 px-4">
      <h1 class="text-white font-bold text-3xl xs:text-6xl mb-2">
        Bosnia International Servant Trip
      </h1>
      <p class="text-beige-100 text-lg italic">A ministry of healing, hope, and peace for Bosnia-Herzegovina and the
        world.</p>
      <a
        href="#index-actions"
        title="Get Involved"
        class="inline-flex text-3xl items-center justify-center gap-2 font-bold bg-amber-50 border-2 border-stone-900 px-8 py-4 mt-8 md:mt-16 text-black shadow shadow-gray-700 hover:border-amber-700 hover:text-amber-700 transition ease-out duration-200 selectable"
      >
        <span>Get Involved</span>
      </a>
    </div>
  </div>
</header>
<main class="max-w-4xl sm:px-4 mx-auto mt-8 space-y-8" id="index-main-content">
  <div class="markdown mt-8 bg-beige-300 shadow-lg pt-4 pb-2 leading-relaxed shadow-stone-300 border-stone-900 border-t-2 border-b-2 sm:border-l-2 sm:border-r-2">
    <section class="border-b border-black pb-2 mb-4 mx-4" id="index-pinned-text" x-data x-show="$el.innerText">
      {% renderFile "src/index/pinned.md" %}
    </section>
    <section id="index-blurb" class="px-4 markdown">
      {% renderFile "src/index/main.md" %}
    </section>
  </div>
  {% include "components/index/index_actions.njk" %}
  <section id="contact"
           class="px-4 bg-beige-300 shadow py-4 shadow-stone-300 border-stone-900 border-t-2 border-b-2 sm:border-l-2 sm:border-r-2">
    {% include "components/contact_form.njk" %}
  </section>
</main>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
