@tailwind base;
@tailwind components;
@tailwind utilities;

.selectable:focus {
    @apply ring-2 ring-black ring-offset-white ring-offset-2 outline-none rounded;
}

.nav-link {
    @apply font-semibold text-black text-xl cursor-pointer rounded px-2;
}

.nav-link:hover {
    @apply transform -translate-y-0.5 ease-in-out duration-300;
}

.nav-link:focus {
    @apply transform -translate-y-0.5 ease-in-out duration-300 ring-2 ring-black ring-offset-white ring-offset-2 outline-none;
}
